<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/image/icon.png">
</head>
<body>
    <div class="main-content">
        {{>header}}
        {{!-- <p>This site was created by Nishant Jakhar. It use data from mapbox.com to fetch out the logitude &#38; latitude
           by adding a certain location .And then the data from mapbox is further used as an entry data in darksky.net, and as a return value from darksky api 
            ,we get our desired information about the weather.</p>
        <p>
            The following skills have been used to make the weather application work :- 
        </p>
        <ul style="list-style-type: disc;">
            <li>Node.js</li>
            <li>Express</li>
            <li>Handlers</li>
            <li>Javascript</li>
            <li>Css</li>
            <li>Html 5</li>
        </ul> --}}

        <ul>
            <li>
                <p>Wellcome to the weather web-application.This site provide you the weather for the desired location, 
                Using data from <a href="https://www.mapbox.com/">mapbox.com<a> &#38; <a href="https://darksky.net/forecast/40.7127,-74.0059/us12/en">darksky.net</a></p>
            </li>
            <li>
                <p>Backend Skills :- 
                    <ul>
                        <li>Node.js</li>
                    </ul>
                </p>
            </li>
            <li>
                <p>Framework Skills :- 
                    <ul>
                        <li>Express</li>
                        <li>HBS</li>
                    </ul>
                </p>
            </li>
            <li>
                <p>API's Used :- 
                    <ul>
                        <li>Mapbox</li>
                        <li>Darksky</li>
                    </ul>
                </p>
            </li>
            <li>
                <p>Developer Tools :- 
                    <ul>
                        <li>Git &#38; Github </li>
                        <li>Heroku</li>
                    </ul>
                </p>
            </li>
        </ul>

        <a href="https://github.com/Nishant-Jakhar/node-weather-website">Clik Here for the Github Repository</a>
        <br>
        <br>

        <img class= "portrait" src="./image/profile-pic.jpeg" alt="profile-pic">
    
    </div>
    

    {{>footer}}

</body>
</html>