<!DOCTYPE html>
<html lang="en">
<head>
    <title>Help</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/image/icon.png">
    
</head>
<body>
    <div class="main-content">
        {{>header}}

        <p>{{message}}</p>
        <a href="mailto:njakhar3511@gmail.com?">Njakhar3511@gmail.com</a>
    </div>
    

    {{>footer}}
</body>
</html>